#gameID {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: typing 2s steps(40) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

#success-sound {
    display: none;
}

/* Add your custom CSS styles here */
body {
    min-width: 320px; /* Set minimum width for the body */
    background-color: #e9e8e8; /* Set background color */
    font-family: Arial, sans-serif; /* Use a common font family */
  }

  .join-telegram {
    width: 100%;
    background-color: #00acee; /* Change button color */
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* Remove border */
    font-size: 16px; /* Increase font size */
  }

  .join-telegram:hover {
    background-color: #007bb5; /* Change button color on hover */
  }

  .join-telegram:focus {
    outline: none;
  }

  .join-telegram:active {
    transform: translateY(2px);
  }

  .container {
    margin-top: 20px;
    max-width: 600px; /* Set maximum width for the container */
  }

  .online-users {
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid #dee2e6; /* Add border */
  }

  .online-users h3 {
    color: #343a40; /* Change text color */
    font-size: 18px; /* Increase font size */
  }

  .card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: black;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info img {
    width: 40px;
    margin-right: 10px;
  }

  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .image-container {
    margin-bottom: 20px;
  }

  .text-data {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .button-container {
    margin-bottom: 20px;
  }

  .note {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
  }

  #loadingScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.spinner-border {
    color: #F46727;
}
.loadingMessage{
    color: black;
}
